.social-card
    &-wrapper
        position: relative
        height: 450px
        margin: 0 auto 30px auto
        width: 80%
        +below(800px)
            height: 550px
        +after(800px)
            width: 100%
        &-inner
            padding: 0
            border: 1px solid gray
            border-radius: 10px
            height: calc(100% - 40px)
    &-image
        height: 75%
        +below(800px)
            height: 50%
        img
            border-radius: 10px
            height: 100%
            +below(800px)
                width: 100%
    &-content
        padding: 10px
        height: 25%
        font-size: 14px
        +below(800px)
            height: 50%
        &-title
            font-size: 16px
            font-weight: bold
        &-link
            a
                color: #9b9b9b
            a:hover
                text-decoration: underline


@import "SocialCardFooter/SocialCardFooter"